<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>homepage</title>
</head>
<body>
    <form method="post">
        <ul>
         <li>
           <label for="user_name">User name:</label>
           <input type="text" id="user_name" name="user_name">
         </li>
         <li>
           <label for="password">password:</label>
           <input type="text" id="password" name="password">
         </li>
        </ul>
        <input type="submit" id="submit_btn" value="Submit">
    </form>
<script type="text/javascript" src="../../public/js/index.js"></script>
</body>
</html>