<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kletterstieg</title>
<!-- materialize css cdn -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
<!-- jquery cdn -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!-- materialize js cdn -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
<!-- materialize icons cdn -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link type="text/css" rel="stylesheet" href="../../css/materialize.min.css"  media="screen,projection"/>
<!-- map generator API -->
    <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.6.1/build/ol.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.6.1/css/ol.css">
<!-- like button icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/hikes.css">
    <link rel="stylesheet" href="/css/styles.css">
<!-- let browser know website is optimized for mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <nav>
        <div class="nav-wrapper">
          {{!-- <a href="#" class="brand-logo">Kletterstieg!!</a> --}}
          <a href="/" class="brand-logo">Kletterstieg!!</a>
          <!-- <i class="center material-icons prefix">hiking</i> -->
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li class="material-icons brand-logo center font-size:30px prefix">hiking</li>

            {{#if loggedIn}}
            <li><a href="#logout" class="btn-no-style" id="logout">Logout</a></li>
            <li><a href="mailto:manorastrman@inorbit.com?subject=Mail from Kletterstieg!!">Email Us</a></li>            
            {{else}}
            {{!-- <a href="/login">Login</a> --}}
            <li><a href="#login" class="modal-trigger">Login</a></li>
            <li><a href="#register" class="modal-trigger">Create account</a></li>
            {{/if}}
            <li><a href="mailto:manorastrman@inorbit.com?subject=Mail from Kletterstieg!!">Email Us</a></li>
            <div id="map" class="map"></div>
          </ul>
        </div>
      </nav>

</head>
<body class="grey darken-4">

    {{{body}}}

<!-- materialize modal script -->
  </body>
</html>