<!-- create account popup -->
    <div class="modal" id="register">
      <h5 class="modal-close">&#10005;</h5>
      <div class="modal-content center">
        <h4>Favorites List</h4><br>
        <form action="#">

          {{!-- <div class="input-field">
            <i class="material-icons prefix">person</i>
            <input type="text" id="favoritesList">
            <label for="fav">Favorites</label>
          </div><br> --}}

          {{!-- <input type="submit" id="create-btn" value="register" class="btn btn-large"> --}}
{{favorites}}
        <div class="wrapper">
          <div class="container">
            <h3>Fav Button Test</h3>
            <h2><span id="fav">Fav Me!</span></h2>
            <button id="addtoFav">Add to favorites</button>
            <button id="removeFromTav">Remove from favorites</button>
          </div>
        </div>

        </form>  
      </div>  
    </div>

<!-- materialize modal script -->
    <script>
        $(document).ready(function(){
          $('.modal').modal();
        });
    </script>
    <script type="text/javascript" src="../public/js/materialize.min.js"></script>