

{{#if loggedIn}}
      <div class="row">
        <!-- <form class="col s12"> -->
            <div class="row">
                <div id="textarea1" class="input-field col s5">
                    <input type="text" class="validate">
                    <label for="name">Search</label>
                </div>
                <div class="input-field col s5">
                    <button class="btn waves-effect waves-light" type="submit" id="searchbutton" name="action">Search!<i class="material-icons right">search</i>
                    </button>
                </div>
            </div>
        </form>
     </div>
     <center><div><br><br>
     <iframe src="{{mapUrl}}" width="450" height="350" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div></center>

    <div class="valign-wrapper"  style="width:100%; height:35%; position: absolute">
     <div class="row">
        <div id="card1" class="col s6 m11 l1">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">Favorite Hikes</span>
              <p>PLACE HOLDER</p>
              <p>PLACE HOLDER</p>
              <p>PLACE HOLDER</p>
              <p>PLACE HOLDER</p>
            </div>
            <div class="card-action">
              <a href="#">Links to favorited hikes</a>
              <a href="#">Links to favorited hikes</a>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div id="card2" class="col s6 m11 l1">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">Suggested Hikes</span>
              <p>PLACE HOLDER</p>
              <p>PLACE HOLDER</p>
              <p>PLACE HOLDER</p>
              <p>PLACE HOLDER</p>
            </div>
            <div class="card-action">
              <a href="#">Links to possible hikes?</a>
              <a href="#">Links to possible hikes?</a>
            </div>
          </div>
        </div>
      </div>
    </div>
<!-- materialize modal script -->
    <script>
        $(document).ready(function(){
          $('.modal').modal();
        });
    </script>
{{else}}
<a href="/">You must login first to view this page</a>
{{/if}}
    <script src="../js/landing.js"></script>
    <script type="text/javascript" src="../js/materialize.min.js"></script>