    <form method="post">
        <ul>
         <li>
           <label for="user_name">User name:</label>
           <input type="text" id="user_name" name="user_name">
         </li>
         <li>
           <label for="password">password:</label>
           <input type="text" id="password" name="password">
         </li>
        </ul>
        <input type="submit" id="submit_btn" value="Submit">
    </form>