.background {
    background: url("../images/multnomah-falls-background.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
  a.btn{
    margin-top: 30%;
  }
  input[type="submit"]{
    width: 100%;
    margin-top: 50px;
  }
  .modal-close{
    position: absolute;
    top: 10px;
    right: 10px;
    margin: 0;
    padding: 0;
  }

  /* Button used to open the contact form - fixed at the bottom of the page */
  .open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
  }
  
  /* The popup form - hidden by default */
  .form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
  }
  
  /* Add styles to the form container */
  .form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
  }
  
  /* Full-width input fields */
  .form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  
  /* When the inputs get focus, do something */
  .form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for the submit/login button */
  .form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  
  /* Add a red background color to the cancel button */
  .form-container .cancel {
    background-color: red;
  }
  
  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }
  
  #textarea {    
    background-color : #dff5d8;
    font-size: 150%;
    border-radius: 15px;
    border: 3px solid #596e67;
    max-width: 95%;
    padding-left: 20px;
  }

  #textarea1 {    
    background-color : #dff5d8;
    font-size: 150%;
    border-radius: 15px;
    border: 3px solid #596e67;
    position: relative;
    left:10px;
    top:0px;
    width: 25%;
    padding: 10px;
  }

  .sunrisesetBtn {
    background-color : #d1d1d1;
    font-size: 75%;
    border-radius: 15px;
    position: relative;
    left:10px;
    top:0px;
    width: 10%;
  }

  .searchBtn {
    background-color : #d1d1d1;
    font-size: 75%;
    border-radius: 5px;
    padding: 2px;
    position: relative;
    left:5px;
    top:0px;
    /* width: 10%; */
    display: inline-block
  }

  #searchbutton {
    border-radius: 25px;
    position: relative;
    left:0px;
    top:60px;
  }
  
  #card1 {
    flex-grow: inherit;
    border-radius: 25px;
    position: relative;
    /* left:0px; */
    /* bottom:initial; */
    margin: auto;
    width: 100%;
  }

  #card2 {
    flex-grow: inherit;
    border-radius: 25px;
    position: relative;
    /* bottom: -50; */
    /* top:-130px; */
    margin: auto;
    width: 100%;
  }

  #map {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    }

    .float-container {
      /* border: 3px solid #fff; */
      padding: 20px;
  }
  
  .float-child {
      width: 50%;
      float: left;
      padding: 20px;
      /* border: 2px solid red; */
  }  

  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.rating > span:hover:before {
  content: "\2605";
  position: absolute;
}